*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}



#background-image{
    background-image: url(https://images.pexels.com/photos/4040585/pexels-photo-4040585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
   
}

.navbar-brand{
    
    color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    
    
    

}

.navbar{
    margin-left:0px;
    opacity: 0.5;
    font-weight: bold;
}

.nav-link{
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.justify-content-end{
    text-align: right;
}

.container{
    
    margin-left: 45px;
    margin-top: 65px;
    margin-bottom: 55px;
    margin-right: 0px;
    padding-left: 35px;
    padding-top: 30px;
  
}

h1{
    color: black;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#first{
    padding-left: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}

#second{
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}



#images{
    color: #0ab69f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-left: 55px;
    margin-top: 65px;
}

.form-group{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

#contact{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-left: 25px;
    margin-top: 65px;
}

.btn-primary{
    box-sizing: border-box;
    background-color: #0ab69f;
    display: inline-block
}
 
#pic{
    width:275px;
    opacity: none;
    border-radius: 50%;
}

.footer{
    border-top-color: #0ab69f;
    margin-top: -20px;
    margin-bottom: 0px;
    padding-bottom: 1px;
    border-top-style: solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #0ab69f;
}

.container2{
    background-color: lightgrey;
    text-align: center;
    margin-left: 25px;
    margin-top: 55px;
    margin-bottom: 55px;
    margin-right: 22px;
    padding-left: 3px;
    padding-top: 5px;
    border-radius: 35px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#container3{
    background-color: lightgrey;
    margin-left: 45px;
    margin-top: 45px;
    margin-bottom: 55px;
    border-radius: 35px;
    padding-left: 45px;
    padding-top: -5px;
    justify-content: space-evenly;
   
}

.port{
    size: 350px;
}

.kpic{
    size: 25px;
}

#im2{
    text-align: left;
    padding-left: -20px;
}

for mobile phones
@media screen and (max-width: 400px) {
    .wrapper {
        width: 100px;
    }
}

for tablet
@media screen and (max-width: 768px) {
    .wrapper {
        width: 400px;
        .col-s-8 {width:33.33%;}
        .col-s-2 {width:25%;}
        .col-md-5 {width:84%;}
    }
}
   
for desktop
@media screen and (max-width: 992px) {
        .wrapper {
            width: 992px;
            .col-s-8 {width:33.33%;}
            .col-s-2 {width:40%;}
            .col-md-5 {width:84%;}
        }
}  